*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans'
}


.titulo{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: goldenrod;
    padding: 6px;
    
}
.titulo img{
    width: 10vh;
    height: 10vh;
    position: absolute;
    background-color: goldenrod;
    top: 0;
    left: 1400px;
}
.titulo h1{
    font-size: 2rem;
    margin-left: 50px;
}

.abas{
    border: 1px solid black;
    width: 94vw;
    height: auto;
    background-color: antiquewhite;
    padding: 3px;
    color: black;
    font-weight: 400;
    margin-left: 48px;
    
}
.abas ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.abas ul li{
    font-size: 1rem;
}

.abas ul li:active{
    font-size: 1rem;
    color: black;
}


.chamado{
    border: 1px solid black;
    width: 94vw;
    background-color: #bbb;
    margin: 0px 0px 0px 3rem;
    color: black;
    font-weight: 200;
}

.ppm{
    width: 94vw;
    margin: 0px 0px 0px 3rem;
    border: 1px solid black;
    padding: 10px;
    background-color: #bbb;
    display: flex;
    flex-wrap:wrap;
    color: black;
}
.ppm h2{
    background-color: #fff;
    border: 1px solid black;
    width: 94vw;
    position: relative;
    top: -12px;
    left: -11px;
    color: black;
}
.ppm select{
    margin:0px 6rem 0px 1rem;
    padding: 0px 5rem 0px 0px;
}

.opcoes2{
    width: 94vw;
    margin: 0px 0px 0px 3rem;
    padding-left:1rem ;
    padding-top: 1rem;
    border: 1px solid #000;
    background-color: #bbb;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.opcoes2 h2{
    border: 1px solid #000;
    width: 94vw;
    background-color: #fff;
    position: relative;
    left: -17px;
    top: -17px;
}
#caminho{
    width: 80vw;
    margin-bottom: 1rem;
    margin-left:1rem;
}
#natureza{
    width: 50vw;
    margin-bottom: 1rem;
}
#vencimento{
    width: 25vw; 
    margin-bottom: 3rem;
}
.tdesc{
    width: 94vw;
    margin: 0px 0px 0px 3rem;
    padding: 0.8rem;
    border: 1px solid #000;
    background-color: #bbb;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.tdesc h2{
    border: 1px solid #000;
    width: 94vw;
    background-color: #fff;
    position: relative;
    top:-14px;
    left: -14px;
}
#titulo{
    width: 80vw;
}
#desc{
    width: 100px;
    
}
textarea{
    margin: 0px 4rem;
    size: 10px;
    
}

.correto{
    width: 100vw;
    border: 1px solid goldenrod ;
    background-color: goldenrod;
    display: flex;
    align-items: center;
    padding:1px ;
    justify-content: center;
}
.correto button{
    margin: 0.3rem;
    padding:4px 9px ;
    cursor: pointer;
}

body{
    background-color: goldenrod;
}

.chamadosaba{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;

}

